@font-face {
    font-family: bloodcrow;
    src: url(../assets/bloodcrow.ttf);
}

body {
    background-image: url(../assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: stretch;
    font-family: bloodcrow;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1.25rem;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#quest-image {
    width: 800px;
}

#quest-choices {
    display: flex;
    flex-direction: column;
}

#quest-details, #quest-results {
    width: 80%;
}
a {
    justify-content: center;
}

button {
    width: 300px;
    margin: auto;
    margin-bottom: 40px;
    display: inline-block;
    padding: 0.3em 1.2em;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFF;
    background-color: #2451ab;
    position: all 0.2s;
}

.hidden {
    display: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-class {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

#avatar-div img {
    display: flex;
    flex-direction: row;
    height: 120px;
}
