body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
input {
    margin: 20px;
}

#characters {
    margin-left: 20px;
}

img {
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

input[type=radio] {
    display: none;
}

input[type=radio] + img {
    border: 5px solid transparent;
}

input[type=radio]:checked + img {
    border: 5px solid blue;
}