body {
    background-image: url(../assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    width: 400px;
    height: 250px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#characters {
    display: flex;
    flex-direction: row;
    align-items: center;
}

input {
    margin: 20px;
}

img {
    height: 200px;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 20px 0px 20px 20px;
}

input[type=radio] {
    display: none;
}

input[type=radio] + img {
    border: 5px solid transparent;
}

input[type=radio]:checked + img {
    border: 5px solid #2451ab;
}

button {
    margin-bottom: 40px;
    display: inline-block;
    padding: 0.3em 1.2em;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFF;
    background-color: #2451ab;
    position: all 0.2s;
}

button:hover {
    background-color: #0e4260;
}